body{margin:auto 0px;width:auto}#page{width:100%;overflow:hidden}#page-header{float:left;width:100%}#page-content{clear:both;float:left;overflow:hidden;position:relative;width:100%}#page-content #region-main-box{float:left;margin-left:0;position:relative;width:200%;right:100%}#page-content #region-post-box{float:left;width:100%}#page-content #region-main-wrap{float:left;width:50%}#page-content #region-main{overflow:hidden;position:relative;left:100%}#page-content #region-post{float:right;position:relative}#page-content #region-main .region-content{overflow:hidden;padding:20px
30px 20px 0}#page-content #region-post .region-content{overflow:hidden;padding:20px
0 20px 10px}#page-footer{clear:both;float:left;width:100%}.has_dock.side-post-only .page-middle #region-main{margin-left:200px}.content-only #page-content #region-main-box,
.content-only #page-content #region-main-box #region-post-box,
.content-only #page-content #region-main-box #region-main-wrap #region-main{margin-left:0px}.content-only #page-content #region-main-box #region-post-box #region-pre,
.content-only #page-content #region-main-box #region-post-box #region-post{width:0px}.pagelayout-report
#page{width:auto;position:relative;overflow:visible}.pagelayout-report #page-header{float:none}.pagelayout-report #page-content{float:none;overflow:visible;width:auto}.pagelayout-report #report-main-content{float:left;width:100%}.pagelayout-report #report-main-content .region-content{margin-left:210px;margin-top:20px}.pagelayout-report #report-main-content .region-content
table{background-color:#FFF}.pagelayout-report #report-region-wrap{width:0;float:right;position:relative;left:-100%}.pagelayout-report #report-region-pre{width:200px;margin-top:20px}.pagelayout-report #page-footer{float:none}.pagelayout-report #page-content .region-content{overflow:visible}.pagelayout-report.content-only #report-main-content .region-content{margin-left:0}.dir-rtl.pagelayout-report #report-main-content .region-content{margin-left:0;margin-right:200px}.dir-rtl.pagelayout-report #report-region-wrap{left:0}.ie6.pagelayout-report #report-main-content,
.ie7.pagelayout-report #report-main-content{float:none;width:auto}.ie6.pagelayout-report #report-region-wrap,
.ie7.pagelayout-report #report-region-wrap{float:none;width:200px;left:auto;position:absolute;top:0}.ie6.pagelayout-report #report-region-pre,
.ie6.pagelayout-report #report-region-pre .block
.ie7.pagelayout-report #report-region-pre,
.ie7.pagelayout-report #report-region-pre
.block{width:100%}body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea{font-family:arial,verdana,sans-serif;line-height:1.5;color:#333}a:hover{color:#333}#wrapper{padding:0
100px;border-top:15px solid #eee}h2,h3,h4,h5,h6{color:#999;font-weight:normal}h2.helpheading{color:#333;font-weight:bold}blockquote{border-left:1px solid #eee;padding-left:15px;color:#666}fieldset#general{border-color:#eee}fieldset#general
legend{color:#555;font-weight:normal;font-size:1.2em;border:1px
solid #eee;padding:2px
5px;background:#fff}#page-header{padding:50px
0 25px}#page-site-index #page-header{padding-bottom:10px}#header-left{float:left}.headermain,.headermenu{margin:0}#page-header
h1{float:none;font-size:2.25em;line-height:1}#page-header
h1.inside{color:#666;font-size:2em}#page-header
p{color:#999}.navbar{background:#f1f1f1;padding:5px
10px;border:1px
solid #ddd}.breadcrumb
.sep{padding-left:5px}.block{border:none}.block .header
h2{color:#999;font-size:1.25em;border-bottom:1px solid #eee;padding-bottom:5px}h2.headingblock{font-weight:normal;color:#999;font-size:1.5em;border-bottom:1px solid #eee;padding-bottom:2px}.coursebox{border-color:#eee}.coursebox .content .teachers,
.coursebox .content .courseimage,
.coursebox .content .coursefile,
.coursebox.remotecoursebox
.remotecourseinfo{width:35%}.coursebox .content .summary,
.coursebox .content
.coursecat{width:60%}.coursebox .content
.teachers{font-size:0.9em;color:#888}.course-content
.section.main{border-bottom:1px solid #eee}.course-content .section.main
.content{padding:5px
5px 10px}.course-content .weeks .section.main
.content{margin-left:0}.course-content .weeks .section.main
.left{display:none}.course-content
.section.main.current{background:#fffcdc}.course-content .weeks .section.main
h3.weekdates{color:#999}.course-content .current .left,
.course-content .current
h3.weekdates{color:#f25f0f !important}.forumpost
.topic{background:#eee;border-width:0;padding:4px
10px 4px}.forumpost
.subject{font-size:1.25em}.forumpost
.author{font-size:0.9em;font-style:italic}.forumpost .no-overflow{border-width:0 1px 10px;border-style:solid;border-color:#aaa #eee #eee;margin:0
1px 1px 1px}.forumpost .content
.posting{padding:5px
10px 10px}.blog_entry
.content{margin-left:43px}#dock{background:#eee;border:none}#dock
.firstdockitem{margin-top:15px}#dock
.dockeditem{background-color:#fff;border:1px
solid #eee;border-width:0 1px 1px 0;padding:3px
0}#dock .dockeditem
.dockedtitle{border:none}#dock .dockeditem .dockedtitle
h2{margin:12px
0 12px 7px;color:#666}#dockeditempanel
.dockeditempanel_content{border-color:#eee}#dockeditempanel
.dockeditempanel_hd{border-bottom:none;padding:3px
5px;background:#eee;text-align:left}#dockeditempanel .dockeditempanel_hd
h2{color:#333;text-align:right;font-weight:normal;font-size:0.8em;padding:0
2px}#dockeditempanel .dockeditempanel_hd
.commands{float:right}.has-custom-menu #dock
.firstdockitem{margin-top:30px}.has-custom-menu #wrapper,
#custommenu .yui3-menu-horizontal .yui3-menu-content,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content,
#custommenu .yui3-menu-horizontal .yui3-menu-content ul,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content ul,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content li li:hover > a,
#custommenu .yui3-menu-horizontal .yui3-menu-label,
#custommenu .yui3-menuitem,
#custommenu .yui3-menuitem .yui3-menuitem-content{border-width:0}#custommenu{padding-left:100px;border-bottom:1px solid #DDD;background-color:#EEE}#custommenu .yui3-menu-content{background-color:transparent}#custommenu .yui3-menu .yui3-menu-label,
#custommenu .yui3-menu .yui3-menuitem-content{color:#F25F0F;line-height:24px;padding:5px
10px}#custommenu .custom_menu_submenu .yui3-menu-label,
#custommenu .custom_menu_submenu .yui3-menuitem-content{padding:5px
20px}#custommenu .custom_menu_submenu .yui3-menu-content,
#custommenu .yui3-menu-label-active,
#custommenu .yui3-menu-label-menuvisible{background-color:#f9f9f9}#custommenu .custom_menu_submenu .yui3-menu-label-active,
#custommenu .custom_menu_submenu .yui3-menu-label-menuvisible,
#custommenu .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content{background-color:#fefefe}#custommenu .custom_menu_submenu .yui3-menu-content{border-left:1px solid #DDD;border-right:1px solid #DDD;border-bottom:1px solid #DDD}#custommenu .custom_menu_submenu .custom_menu_submenu .yui3-menu-content{border-top:1px solid #DDD}.mform .btn-cancel{color:#F25F0F;text-decoration:none}.mform .btn-cancel:hover, .mform .btn-cancel:focus{color:#333;text-decoration:none}a{color:#f25f0f}.side-post-only #page-content #region-main-box #region-post-box{margin-left:-250px}.side-post-only #page-content #region-main-box #region-post-box #region-main-wrap #region-main{margin-left: 250px}.side-post-only #page-content #region-main-box #region-post-box #region-post{left: 250px;width: 250px}